body{
    background: black;
    color: #fff;
    font-family: "console";
}
@font-face {
    font-family: 'console';
    src: url(consolas.ttf);
}
h1{
    margin-top: 5%;
}
    .typewriter h1 {
       
 
 
    overflow: hidden; 
     border-right: .15em solid grey; 
    white-space: nowrap; 
    
    letter-spacing: .15em;
    animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end 1s ;
    animation-fill-mode: forwards;
    }
    .typewriter p {
        text-align: center;
        font-size: 20px ;
        margin-top: 150px;
        display: block;
         overflow: hidden; 
          border-right: .15em solid grey; 
         white-space: nowrap; 
    color: black;
         letter-spacing: .15em;
         animation:
         typingp 3.5s steps(30, end),
         blink-caret .5s step-end 10s ;
         animation-delay: 2.5s;
         animation-fill-mode: forwards;
         }

    /* The typing effect */
    @keyframes typing {
    from { width: 0 }
    to { width: 100% }
    }
    
    /* The typewriter cursor effect */
    @keyframes blink-caret {
    from, to { border-color: transparent}
    50% { border-color: grey}
    }
  
    @keyframes typingp {
        from{
            color: white;
            width: 0;
            opacity: 1;
        }
        to { width: 100% ;
            color: white;
            }
        }
        .Player{
            text-align: center;
            font-size: 20px;
            margin-top: 20%;
            color: white;
            opacity: 0;
            animation: pro 3s linear;
            animation-delay: 7.5s;
            animation-fill-mode: forwards;
        }
        .Player span{
color: grey;
        }
        @keyframes pro{
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }